  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta name="author" content="OuiShare Labs">
    <link rel="shortcut icon" href="{{ '/assets/ico/favicon.ico' | prepend: site.baseurl }}">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600">
    <link rel="stylesheet" href="{{ '/assets/css/bootstrap.min.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ '/assets/css/merlin.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ '/assets/css/animate.min.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ '/assets/css/font-awesome.min.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>

    <!--[if lt IE 9]>
    <script src="{{ site.baseurl }}/assets/js/html5shiv.js"></script>
    <script src="{{ site.baseurl }}/assets/js/respond.min.js"></script>
    <![endif]-->
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
  </head>
