    <script src="{{ '/assets/js/jquery.min.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/assets/js/bootstrap.min.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/assets/js/isotope.pkgd.min.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/assets/js/imagesloaded.min.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/assets/js/jquery.scrollTo.min.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/assets/js/jquery.nav.min.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/assets/js/jquery.appear.min.js' | prepend: site.baseurl }}"></script>
    <!--script src="{{ '/assets/js/twitterFetcher.js' | prepend: site.baseurl }}"></script-->
    <script src="{{ '/assets/js/twitterFetcher.min.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/assets/js/script.js' | prepend: site.baseurl }}"></script>