    <section id="contact" class="page">
      <div class="container">
        <div class="content cover text-center">
          <div class="heading">
            <h2>Getting in touch.</h2>
            <div class="border"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
          <div class="row">
            <div class="col-lg-4 animated hiding" data-animation="fadeInRight" data-delay="600">
              <i class="fa fa-map-marker fa-3x"></i>
              <a href="#">Mostar, Bosnia and Herzegovina</a>
            </div>
            <div class="col-lg-4 animated hiding" data-animation="fadeInDown" data-delay="300">
              <i class="fa fa-phone fa-3x"></i>
              <a href="tel:9876543210">(987) 654-3210</a>
            </div>
            <div class="col-lg-4 animated hiding" data-animation="fadeInLeft" data-delay="600">
              <i class="fa fa-envelope fa-3x"></i>
              <a href="mailto:john.doe@mail.com">john.doe@mail.com</a>
            </div>
          </div>
        </div>
      </div>
    </section>