/* Additional styles */

/* Map from Stylish Portfolio */

#map {
    height: 300px;
}

@media(max-width:768px) {
  #map {
    height: 75%;
  }
}

/* Items float overrides */

#services .service, #speakers .teammate, #about .teammate  {float: none; display: inline-block; vertical-align: top;}
#services .service {margin: 0 -0.125em;}
#speakers .teammate, #about .teammate  {margin: 20px -0.125em 40px;}

.full a {color: #428BCA;}

/* webmentions */

.h-feed img {max-width: 100%; padding:0; margin:0;}
.h-feed cite, .h-feed p {padding:0;margin:0;}
.h-feed {border-top:1px solid #eee;padding-top: 10px;padding-bottom: 10px;}

table.program-1, table.program-2 {border:1px solid #dedede;width:100%;text-align:center;}
table.program-1 td, table.program-2 td {border: 1px solid #dedede; padding:4px 5px;}