/* Additional styles */

/* Map from Stylish Portfolio */

#map {
    height: 500px;
}

@media(max-width:768px) {
  #map {
    height: 75%;
  }
}

/* Items float overrides */

#services .service, #speakers .teammate  {float: none; display: inline-block; vertical-align: top;}
#services .service {margin: 0 -0.125em;}
#speakers .teammate {margin: 20px -0.125em 40px;}
