<!DOCTYPE html>
<html lang="en-us">
{% include head.html %}

  <body>
  	{% include navbar_page.html %}
    <section id="services" class="page full">
      <div class="container">
        <div class="content text-center">
          <div class="heading">
            {% if page.fai %}
              <p><i class="fa {{ page.fai }} fa-5x"></i></p>
            {% endif %}
            <h2>{{ page.title }}</h2>
            <div class="border"></div>          
          </div>
          {% if page.description %}
          <div class="row">
            <div class="col-md-6 col-md-offset-3" style="padding-top:2em;">
                  <p><strong>{{ page.description }}</strong></p>
                  <hr/>
            </div>
          </div>
          {% endif %}  

          {% if page.path contains 'program' %} 
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="text-left">
              {{ content }}
              </div>
            </div>
          </div>
          {% else %}    
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <div class="text-left">
            	{{ content }}
              </div>
            </div>
          </div>
          {% endif %}

          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <div class="text-left">
                <hr />
                <h3>All workshops</h3>
                <ul class="list-inline">
                {% for page in site.workshops %}
                <li><a class="bg-info" href="{{page.permalink}}">{{page.title}}</a></li>
                {% endfor %}
                </ul>
              </div>
            </div>
          </div>          

          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <div class="text-left">
                {% if page.path contains 'about' %}
                {% include webmentions_all.html %}
                {% else %}
                {% include webmentions.html %}
                {% endif %}
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <div class="text-center">
                <hr/>
                <a href="{{ site.baseurl }}/">Go back to front page &raquo;</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>  	
    

    {% include footer.html %}
  </body>
</html>