    <section id="services" class="page">
      <div class="container">
        <div class="content text-center">
          <div class="heading">
            <h2>{{ site.section_workshops_title }}</h2>
            <div class="border"></div>
            <p>{{ site.section_workshops_text }}</p>
            <p style="font-weight: bold; font-variant: small-caps;"><a href="https://www.youtube.com/playlist?list=PL8Bt3EbdmpKOYuRykt6bz7vlfek3NSv1l" target="_blank">Watch all presentation videos on OuiShareTV &raquo;</a></p>
          </div>
          <div class="row">
            {% for item in site.workshops %}
            <div class="col-lg-4 col-md-6 service animated hiding" data-animation="fadeInUp" data-delay="300">
              <i class="fa {{ item.fai }} fa-5x"></i>
              {% if item.content %}
              <h3><a href="{{ item.permalink }}">{{ item.title }}</a></h3>
              {% else %}
              <h3>{{ item.title }}</h3>
              {% endif %}
              <p>{{ item.description }}</p>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </section>